<ion-content padding>
  <!-- #region -->
  <div class="contents">
    <ion-row>
      <ion-input type="text" class="value-input"></ion-input>
    </ion-row>

    <ion-row>
      <ion-col>
        <select class="select-list">
          <option *ngFor="let item of cuService.countryCodes">{{item}}</option>
        </select>
      </ion-col>
      <ion-col>
        <select class="select-list">
          <option *ngFor="let item of cuService.countryCodes">{{item}}</option>
        </select>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-input type="text" class="value-input"></ion-input>  
    </ion-row>
  </div>
  <!-- #endregion -->
</ion-content>