$colors: (
  primary:    #5f04c0,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f3f3f3,
  dark:       #222
);

$font-stack: Roboto , 'sans-serif'; 

page-home {}

.contents {
    margin: 20% 0;
}

.value-input {
    font: 25px $font-stack;
    margin: 10% 2.5%;
    width: 100%;
    padding: 0 3%;
    color: #222;
    border-radius: 7px;
    box-shadow: 0 7.5px 10px 0 rgba(34, 34, 34, 0.219);
    border: solid 0.5px rgba(236, 236, 236, 0.65);
    background-color: #ffffff;
}

.select-list {
    appearance: none;    
    margin: 5% auto;
    padding: 15px;
    display: block;
    box-shadow: 0 5px 5px 0 rgba(34, 34, 34, 0.219);
    background-color: #9700ed;
    border: 0 transparent;
    border-radius: 10px;
    font-family: $font-stack;
    font-size: 40px;
    color: #f3f3f3;
}

.selectors {
    border-right: 1px solid rgba(150, 150, 150, 0.658);
}

.selector-txts p{
    font-size: 20px;
    color: #bdbdbd;
    margin: 0 auto;
    text-align: center;
}